Iot System/Smart_Controller_IOT.json
[
    {
        "id": "90299dac596ac92b",
        "type": "tab",
        "label": "Smart_Controller_IOT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5d2ca7a79090679",
        "type": "inject",
        "z": "90299dac596ac92b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "HOLA",
        "payloadType": "str",
        "x": 260,
        "y": 140,
        "wires": [
            [
                "668eab9f968a014e"
            ]
        ]
    },
    {
        "id": "668eab9f968a014e",
        "type": "mqtt out",
        "z": "90299dac596ac92b",
        "name": "",
        "topic": "inTopic",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "44108e874f408dae",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "e82cb5806b55c82f",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "T1",
        "topic": "T1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "b97a51b3aaaa9fbd",
                "649949d7bd299b2a"
            ]
        ]
    },
    {
        "id": "b97a51b3aaaa9fbd",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "Temp1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "88a3bdd14cce4d2f",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "T2",
        "topic": "T2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "93f8d98943f22d09",
                "13beb73712ec35ac"
            ]
        ]
    },
    {
        "id": "93f8d98943f22d09",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "Temp2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "38ccb7aa42d45268",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "H1",
        "topic": "H1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "c30e7d3c2f8f8782",
                "3f878eada8e5a7c1"
            ]
        ]
    },
    {
        "id": "bb20e56ebd8e5497",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "H2",
        "topic": "H2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "4a69837a1a4fad17",
                "d2d452161603cc2e"
            ]
        ]
    },
    {
        "id": "1d2f6a6349fe3545",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "C1",
        "topic": "C1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "50845dd85f47912a",
                "18a4e523e7727858"
            ]
        ]
    },
    {
        "id": "e4d05c8c9a4feccf",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "C2",
        "topic": "C2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "a1ce9967e55f072a",
                "59c7c22665fff905"
            ]
        ]
    },
    {
        "id": "c30e7d3c2f8f8782",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "hum1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "4a69837a1a4fad17",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "hum2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "50845dd85f47912a",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "gas1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "a1ce9967e55f072a",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "gas2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "649949d7bd299b2a",
        "type": "ui_gauge",
        "z": "90299dac596ac92b",
        "name": "",
        "group": "5b7a83a9e621e307",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura1",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00fa11",
            "#ffff24",
            "#ff4d4d"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "18a4e523e7727858",
        "type": "ui_gauge",
        "z": "90299dac596ac92b",
        "name": "",
        "group": "d63f912132d2e886",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Calidad 1",
        "label": "hPa",
        "format": "{{value}}",
        "min": "80",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "d2d452161603cc2e",
        "type": "ui_gauge",
        "z": "90299dac596ac92b",
        "name": "",
        "group": "15a45c8948b6d140",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad 2",
        "label": "%",
        "format": "{{value}}",
        "min": "80",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "e1df75eb9f701b4a",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "P1",
        "topic": "P1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 820,
        "wires": [
            [
                "106a4088fd1ac5a5",
                "e648de71defe5d82"
            ]
        ]
    },
    {
        "id": "fe4a7474e273bb90",
        "type": "mqtt in",
        "z": "90299dac596ac92b",
        "name": "P2",
        "topic": "P2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "44108e874f408dae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "6fb9e887c212436d",
                "8dfe3bb13581b278"
            ]
        ]
    },
    {
        "id": "106a4088fd1ac5a5",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 820,
        "wires": []
    },
    {
        "id": "6fb9e887c212436d",
        "type": "debug",
        "z": "90299dac596ac92b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 920,
        "wires": []
    },
    {
        "id": "e648de71defe5d82",
        "type": "ui_text",
        "z": "90299dac596ac92b",
        "group": "9cb593f8f142b308",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presión 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 860,
        "wires": []
    },
    {
        "id": "8dfe3bb13581b278",
        "type": "ui_text",
        "z": "90299dac596ac92b",
        "group": "5f2e5f678d4be467",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presión 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 980,
        "wires": []
    },
    {
        "id": "13beb73712ec35ac",
        "type": "ui_chart",
        "z": "90299dac596ac92b",
        "name": "",
        "group": "5b7a83a9e621e307",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura 2",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bde3ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3f878eada8e5a7c1",
        "type": "ui_chart",
        "z": "90299dac596ac92b",
        "name": "",
        "group": "15a45c8948b6d140",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad 1",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "80",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#55fe3e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "59c7c22665fff905",
        "type": "ui_chart",
        "z": "90299dac596ac92b",
        "name": "",
        "group": "a0b5352113a24fcc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Calidad 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "70",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffb61a",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "44108e874f408dae",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.61",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5b7a83a9e621e307",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "95ddad2d02122b8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d63f912132d2e886",
        "type": "ui_group",
        "name": "Calidad",
        "tab": "95ddad2d02122b8c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15a45c8948b6d140",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "95ddad2d02122b8c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cb593f8f142b308",
        "type": "ui_group",
        "name": "Presión",
        "tab": "95ddad2d02122b8c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f2e5f678d4be467",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b5d519f29e43504d",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "a0b5352113a24fcc",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "b5d519f29e43504d",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "95ddad2d02122b8c",
        "type": "ui_tab",
        "name": "PARÁMETROS",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b5d519f29e43504d",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]